@charset "UTF-8";
body{
	background:#6495ED
}

h1{
	color:black;
}

tr, td{
	border:solid 1px green;
}

table {
	width: 50%; /* 테이블 너비를 전체로 */
	
    border-collapse: collapse; /* 테이블 셀 간의 간격 없애기 */
    background-color: #f9f9f9; /* 테이블 배경 색을 연한 회색으로 */
}